:root {
    --primary-color: rgb(11, 54, 109);
    --text-color: white;
    --text-color2: black; 
    --accent1-color: yellow; 
    --accent2-color: rgb(148, 18, 18);
    --heading-font: Arial, Helvetica, sans-serif;
    --body-font: "Times New Roman", "Georgia", serif; 
    --standard-padding: 5px; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--text-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2, h3, h4 {
    padding: var(--standard-padding);
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

nav, p, section, article {
    margin: 16px auto;
    padding: var(--standard-padding); 
}

header  a{
    color: var(--text-color2);
    text-decoration: none;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%; 
    height: auto;
}

.hero h1 {
    position: absolute; 
    top: 25px; 
    left: 185px; 
    font-size:35px ;
}

.hero article {
    background-color: var(--accent2-color);
    border: var(--text-color2);
    position: absolute; 
    bottom: var(--standard-padding); 
    left: var(--standard-padding); 
    font-size: large;
   
}


.hero article img {
    width: 200px;
    float: right; 
    box-shadow: 8px 8px 4px grey; 
}

header {
    display: grid; 
    grid-template-columns: 30% 70%;
    justify-content: right;
}

header img {
    width: 150px;
    margin: 0 0 0 130px;  
    
}

nav {
    margin: 0; 
    padding: 0; 
    width: 100%;
    height: 100%;
}

ul {
    display: flex; 
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: right;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    padding: 2rem; 
}

h2{
    text-align: center;
}

.history {
    background-color: var(--primary-color);
    display: grid; 
    justify-content: space-around;
    grid-template-columns: 1fr 18% 1fr;
    grid-template-rows: 50px 1fr;

}

.history h2 {
    grid-area:1/1/2/4;
    justify-content: center;
}

.history img{
    width: 130px;
    grid-area: 2/2/3/3;
    align-self: center;
    justify-self:  center; 
      
}

.adventure{
    display: flex; 
    flex-direction: column; 
    background-color: var(--accent2-color);
}

.adventure-photos {
    object-fit: cover;
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
}

.adventure-photos figure{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto; 
    text-align: center;
}

figure img, caption{
    width: 140px;
}

footer{
    display: grid; 
    grid-template-columns: 3fr 1fr;
    color: var(--text-color2);
}

footer img {
    width: 50px;
    height: 50px; 
    object-fit: contain ; 
}

.socialmedia{
    grid-area: 1/2/2/3;
}

.body{
    background-color: var(--primary-color);
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    padding: var(--standard-padding);
}

.id{
    grid-area: 1/1/2/3;
    display: block;
    text-align: center; 
}

.id h1{
    padding-top: 20px;
}

iframe{
    width: 400px; 
    height: 400px;
    padding: var(--standard-padding);
    border: none; 
}

form{
    height: 400px;
    display: grid;
    grid-template-columns:30% 70%; 
    grid-template-rows: repeat(5, 1fr) 3fr 1fr 1fr;
    padding-left: 2rem; 
    
}

.name{
    grid-area: 1/1/2/3;
    display: flex;
    flex-direction: row; 
}

.email{
    grid-area: 2/1/3/3;
    display: flex;
    flex-direction: row; 
}

.name input, .email input{
    width: 310px;
    height: 1rem; 
    padding:.5rem;
}

.name label, .email label{
    width: 80px;
   
}


.textarea{
    grid-area: 6/1/7/3;
    display: flex;
    flex-direction: column;
    width: 390px; 
}

.subscribe{
    grid-area: 7/1/8/3;
}

.submit{
    grid-area: 8/1/9/3;
}

.radio{
    grid-area: 3/1/6/3;
    display: grid; 
    grid-template-columns: 80px 25px 1fr;
    grid-gap: 0;

}

.radio a{
    grid-area: 1/1/4/2;
    max-width: 100px;
    align-self: center;
}

.radio label {
    grid-column: 3;
    padding-top: var(--standard-padding);
    padding-left: var(--standard-padding);
}

.radio input{
    padding-right: var(--standard-padding);
    grid-column: 2;
    width: 15px;
}

textarea{
    height: 80px;
}

.submit button[type="submit"]{
    display: block;
    width: 200px; 
    height: 50px; 
    background-color: var(--accent1-color);
    margin: 5px ; 
    color: var(--text-color2); 
    border-radius: 10px;
    justify-self: center; 
    font-size: 1.2rem;
    padding: var(--standard-padding)
}

.submit button[type="submit"]:hover {
    background-color: green;
    color: var(--accent1-color);
}

.employees{
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
}

.employees figure img{
    width: 200px; 
    height: auto;
}

.employees figure figcaption{
    text-align: center;
}