* {
    max-width: 750px;
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

:root {
    --borders: 2px solid black; 
    --darkblue: darkblue; 
    --white: white;
    --red: red;
    --black: black; 
    --standard_size: 1rem; 
}

nav {
    display: grid; 
    grid-template-columns: auto auto auto auto;
    background-color: var(--darkblue);
    padding: var(--standard_size);
}

nav a {
    color: white;
    display: block;
    padding: var(--standard_size);
}


h1 {
    color: var(--darkblue);
    text-align: center;
    margin: 0px;  
}

main img {
    float: right;
    width: 250px;
    height: auto;
    border: var(--borders);
    padding: var(--standard_size);
    box-shadow: 0 0 30px gray;
    background-color: var(--black);
    margin: var(--standard_size);
}

main p {
    padding: var(--standard_size); 
    margin: var(--standard_size);
   
}

aside{
    position: relative; 
    text-align: center;
    margin: var(--standard_size); 
 }

aside img{
    
    background-color: var(--red);
    width: 200px;
    height: auto;
    margin: var(--standard_size) auto;
}

aside p{  
    font-size: large;

}
aside h2{
    position: absolute; 
    right: 260px;
    top: 40px; 
    font-size: small; 
    margin-bottom: var(--standard_size);
    font-weight: bold;
    color: var(--black) 
}

footer {
 
    text-align: center;
    margin-top: 10px;
    border-top: 2px dotted;
    margin-right: 50px;
}

/* Class Selectors */
.box {
    margin: var(--standard_size);
    border: var(--borders);
    padding: 1rem;
    padding-left: 2rem;
    background-color: var(--red);
    color: var(--black);
}